/* Styles for .cart-page */
.cart-page {
  display: flex;
  flex-wrap: wrap;
}

/* Styles for the left half (product details) */
.col-md-7 {
  width: 50%;
  padding-right: 20px; /* Add spacing between product details and cart summary */
  box-sizing: border-box; /* Include padding in the width calculation */
}

/* Styles for the right half (cart summary) */
.col-md-5 {
  width: 50%;
  padding-left: 20px; /* Add spacing between product details and cart summary */
  box-sizing: border-box; /* Include padding in the width calculation */
}

/* Media query for small devices */
@media (max-width: 767px) {
  /* Full width for both product details and cart summary on small devices */
  .col-md-7,
  .col-md-5 {
    width: 100%;
    padding: 0; /* Remove padding for small devices */
  }
}
.text-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}