.header {
    display: flex; /* Make the header elements horizontal */
    justify-content: space-between; /* Distribute elements evenly with space between */
    align-items: center; /* Align elements vertically in the center */
    padding: 1rem 0; /* Add some padding top and bottom */
  }
  
  .left-icons,
  .right-icons {
    display: flex; /* Make left and right icons into rows */
  }
  
  .left-icons svg,
  .right-icons svg {
    margin: 0 10px; /* Add spacing between icons */
  }
  
  .logo {
    flex: 1; /* Make the logo take up remaining space in the center */
    text-align: center; /* Center the logo text (if any) */
  }
  
  img{
  height: 85px;
  width: 200px;
  object-fit: cover;
}
  