/* Styles for product details container */
.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for product image */
.product-image {
  max-width: 100%;
  height: auto;
}

/* Styles for product details */
.product-details {
  text-align: left;
  margin-top: 20px;
}

/* Styles for similar products container */
.similar-products {
  margin-top: 50px;
}

/* Styles for product card */
.product-card {
  width: 100%;
  margin-bottom: 20px;
}

/* Styles for product card in mobile mode */
@media (max-width: 767px) {
  .product-details-container {
    flex-direction: column;
  }

  .row.container.product-details {
    flex-direction: column;
    align-items: center;
  }

  .col-md-6.product-details-info {
    width: 100%;
    padding: 0 20px;
  }

  .similar-products {
    margin-top: 30px;
  }

  .d-flex.flex-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-card {
    width: 45%; /* Show 2 products in one row */
    margin: 10px;
  }
}
