/* Styles for product details container */
.product-details-container {
 margin-top: 200px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

/* Styles for product image */
.product-img{
  max-width: 90%;
  padding: auto;
  height: 50vh;
  align-self: center; 
}

.product-image {
  max-width: 100%;
  height: auto;
  align-self: center; /* Center the image within its container */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
  margin-top: 30px;
  margin-left: 250px;
}


/* Styles for product details */
.product-details {
  text-align: left;
  margin-top: 20px;
}

/* Styles for similar products container */
.similar-products {
  margin-top: 50px;
}

/* Styles for product card */
.product-card {
  width: 100%;
  margin-bottom: 20px;
}

/* Styles for product card in mobile mode */
@media (min-width: 768px) {
  .product-details-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .product-details-info {
    width: calc(50% - 20px); /* Adjust for margins */
    padding: 0 20px; /* Add padding to the sides */
  }

  .similar-products {
    margin-top: 30px;
  }

  .d-flex.flex-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-card {
    width: calc(25% - 20px); /* Show 4 products in one row */
    margin: 10px;
  }
}
