/* Styles for product details container */
.product-details-container {
  margin-top: 160px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Styles for product image */
.product-img {
  width: 350px;
  height: 300px; /* Adjust height to maintain aspect ratio */
  margin-bottom: 20px;
}

/* Styles for product details */
.product-details {
  width: 100%;
  max-width: 400px; /* Adjust max-width as needed */
  padding: 0 20px; /* Add padding to the sides */
}

/* Styles for similar products container */
.similar-products {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align similar products in a row */
}

/* Styles for product card */
.product-card {
  width: calc(25% - 20px); /* Show 4 products in one row */
  margin: 10px;
}

/* Styles for product card in mobile mode */
@media (min-width: 768px) {
  .product-details-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .product-img {
    width: 45%; /* Adjust width to desired size */
    margin-bottom: 0;
  }

  .product-details {
    width: 50%; /* Adjust width to desired size */
    margin-left: 5%; /* Add a bit of space between image and details */
  }
}
