@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@font-face {
  font-family: myFont;
  src: url(CaviarDreams.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
  font-weight: 1000;
  font-style: bold;
}

/* font-family: "Poppins", sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

/* navbar css */
.navbar {
  font-weight: 1500;
  background-color: #1e140a;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 1000 !important;
  color: #000;
  
}
.nav-link:hover{
  color: #cc9900;
}

.cart{
  font-family: myFont;
  font-weight: 1000;
  color: #000;
}

.nav-item1{
  font-weight: bold;
  color: #000;
}

.active {
  border-bottom: 2px solid #cc9900;
}

.navbar-brand {
  font-weight: 1000;
  font-family: myFont;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
  color: #cc9900;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #cc9900;
  border-radius: 0;
  color: #000;
}

img{
  height: 85px;
  width: 200px;
  object-fit: cover;
}

/*Footer*/
.footer {
  background-color: #1e140a;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  color: white;
  margin: 0 auto;
}

.footer-section {
  width: 15%; 
  padding: 5px;
}

.foot-logo {
  max-width: 200px;  
  margin-left: -1px;  
  height: 85px;
  
}
.footer-content{
  padding-top: 25px;
  font-weight: 5000;
  color: white;
}

.par {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

.footer-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.footer-item {
  margin-bottom: 5px;

}

.footer-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 5000;

}
.copyright{
  font-weight: 450;
}
.kas{
  padding-left: 5px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 600;
}
.kas:hover{
  color: #cc9900;
  font-weight: 5000;
}
.footer-link:hover {
  color: #cc9900;
}

.footer-copyright {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.footer-text {
  font-size: 14px;
  color: #a9a9a9;
  margin: 0;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Adjust logo size or margins for smaller screens if needed */
  .logo {
    max-width: 150px; /* Example adjustment */
  }
}
/* PAGE NOT FOUND*/
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/*Register Page*/
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  
}

.title{
  font-family: myFont;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.text{
  font-family: myFont;

}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

.image-item {
  text-align: center;
  margin: 10px;
  width: 10%;
  position: relative; 
  transition: transform 0.2s ease-in-out;
}

.image-item:hover,
.image-item:active { 
  transform: translateY(-5px);
}
.image-item img {
  width: 100%;
  height: auto;
}

.image-item p {
  margin-top: 5px;
 
}
.text-center{
  font-weight: 1000;
  font-style: bold;

}
.prod-heading{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: 95%;
  position: relative;
  margin-left: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 95%; 
  max-width: 300px; 
  height: auto; 
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 30px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  
}
@media (max-width: 768px) {
  .main-card{
    width: 45%; /* Adjust width for smaller screens */
    height: 100%;
    
  }
}

.product-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-offer {
  font-size: 14px;
  color: #4caf50;
  margin-bottom: 16px;
}

.product-prices {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.original-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
}

.discounted-price {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.add-to-cart-button {
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main-card
{
  width: 95%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* categories.css */

/* Set background image and style for the category card */
/* categories.css */

/* Set background image and style for the category card */
/* categories.css */

/* Set background image and style for the category card */
.cat-card {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-ioRlk_NBse8OOaO59G-02NebBrs8b2Tb4yfsCsQtTqW2-D3LwijMEgN_LNUadtrvZEI&usqp=CAU');
  background-size: cover;
  background-position: center;
  margin-top: 15px;
}

/* Style for the category heading */
.cat-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* White text color */
}

/* Container for category cards */
.cat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual category card */
.col-md-4 {
  flex: 1 0 50%; /* Two cards per row on smaller devices */
  max-width: 50%; /* Two cards per row on smaller devices */
  padding: 5px; /* Add padding between cards */
}

.card {
  text-align: center;
}

.card img {
  border-radius: 50%; /* make the image round */
  width: 100%; /* Set image width to 100% of its container */
  max-width: 150px; /* Limit maximum width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

.cat-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.cat-btn:hover {
  color: #000;
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
  .col-md-4 {
    flex: 1 0 100%; /* One card per row on smaller devices */
    max-width: 100%; /* One card per row on smaller devices */
  }
}


.heading-text{
  font-size: 35px;
  font-weight: 1000;
  font-style: bold;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
 
}
/* Styles for .main-container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for .main-card2 */
.main-card2 {
  width: 100%;
  max-width: 800px; /* Adjust the maximum width as needed */
  padding: 0 15px; /* Add padding for better spacing */
}

/* Styles for .prod-heading */
.prod-heading {
  text-align: left; /* Align heading to the left */
}

/* Styles for .vdo-container */
.vdo-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Center video horizontally */
  margin-top: 20px; /* Add space between heading and video */
}

/* Media query for smaller devices */
@media (max-width: 767px) {
  /* Styles for .main-card2 */
  .main-card2 {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  /* Styles for .vdo-container */
  .vdo-container {
    margin-top: 10px; /* Reduce margin for smaller screens */
  }
}



.main-card2, .main-card3 {
  flex: 0 0 calc(50% - 20px); /* Adjust width as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

@media only screen and (max-width: 768px) {
  .main-card2, .main-card3 {
    flex: 0 0 100%; /* Change to full width on smaller screens */
  }
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:95%;
  padding: 20px;
  background-color: #808000;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  flex-basis: 25%;
  
}
@media (max-width: 768px) {
  .stat {
    flex-basis: 100%;
  }
}
.stat:last-child {
  border-right: none;
}

.stat p:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat p:last-child {
  font-size: 14px;
  color: #999;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    flex-basis: 100%;
    border-right: none;
    
    padding: 10px;
  }

  .stat:last-child {
    border-bottom: none;
  }
}
.section__stat-number {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}
.section__stat-number {
  display: block;
}
.card {
  text-align: center; /* Center category name */
  width: 200px; /* Adjust the image size as needed */
  height: 200px;
  margin-left: 120px;
}

.card img {
  width: 200px; /* Adjust the image size as needed */
  height: 200px;
  /*border-radius: 50%; /* Make the image circular */
  display: block; /* Ensure the circular shape */
  margin: 0 auto; /* Center the image */
}

.cat-btn {
  display: block;
  font-weight: 1000;
  margin-top: 10px; /* Adjust spacing between image and text */
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
}

.col-md-4 {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width for medium devices */
  max-width: calc(33.33% - 20px); /* Adjust the maximum width for medium devices */
  margin: 0 10px 20px; /* Add spacing between the cards */
}

@media (max-width: 767px) {
  .col-md-4 {
    flex: 0 0 calc(50% - 20px); /* Adjust the width for smaller devices */
    max-width: calc(50% - 20px); /* Adjust the maximum width for smaller devices */
  }
} 

.button{
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-weight: 550;
  font-style: bold;
}

.button:hover {
  border: 1px solid #FFD400;
  color: #fff;
  background: #cc9900; 
  }
  